@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Stack Sans Notch", sans-serif;
}

.game-dashboard {
  background-color: rgb(11, 20, 47);
  min-height: 100vh;
  display: grid;
  align-content: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.game-box {
  background-color: rgba(23, 53, 105, 0.522);
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(23, 53, 105, 0.522);
  border: 1px solid rgba(23, 53, 105, 0.8);
}

.header {
  width: 100%;
  display: grid;
  align-content: center;
  margin: auto;
  padding: 10px 30px;
  text-align: center;
}

.header .title {
  font-size: 28px;
  font-weight: 500;
}

.header .stats {
  display: flex;
  margin: auto;
  gap: 20px;
}

.header .stats>p {
  display: grid;
  gap: 5px;
  color: #eee;
}

.stats>p>span {
  color: rgb(127, 118, 222);
  font-size: 20px;
  font-weight: bold;
}

.win-message {
  padding: 10px 25px;
  text-align: center;
  line-height: 1.5;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(20px);
  z-index: 2;
  transition: .5s ease-in-out;
  border: unset;
}

.win-message h2 {
  font-size: 16px;
  color: antiquewhite;
}

.win-message p {
  font-size: 13px;
  color: #a3b7e2ba;
}

.win-message p span {
  color: #0f0;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  perspective: 1000px;
  border: .5px solid #4f74c422;
}

.card {
  position: relative;
  text-align: center;
  margin: 5px;
  padding: 20px 0;
  min-height: 60px;
  cursor: pointer;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card.flipped {
  transform: rotateY(180deg);
  background-color: #c4b64f22;
  border-color: #4f74c452;
}

.card.matched {
  background-color: #4fc47752;
  border: 1.2px solid rgba(0, 255, 0, 0.571);
  box-shadow: 0 0 1px rgba(79, 196, 119, 0.1);
}

.card-front,
.card-back {
  position: absolute;
  font-size: 1.5rem;
  text-align: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.card-back {
  transform: rotateY(180deg);
}

.card:not(.flipped):not(.matched)>.card-back {
  display: none;
}

.card.flipped>.card-front,
.card.matched>.card-front {
  opacity: 0;
  visibility: hidden;
}

.card.flipped>.card-back,
.card.matched>.card-back {
  display: flex;
}

.btn {
  background: linear-gradient(#a3b7e2ba, #a5afaf);
  outline: unset;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  width: fit-content;
  margin: 20px auto 0;
  border-radius: 12px;
}

.btn:hover {
  transform: scale(1.05);
}